<div class="comments">
  {{#each}}
    <div class="comment">
      <blockquote>
        <div class="comment-heading">
          <span class="text-muted"><sup>{{datetime create_at}}</sup></span>
          <div class="pull-right">
            <a {{action "deleteComment"}} class="gray-icon"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </div>
        </div>
        {{body}}
        <footer>
          {{name}}
        </footer>
      </blockquote>
    </div>
  {{else}}
    <p>There are no comments.</p>
  {{/each}}
</div>
