<div class="comments">
  {{#each}}
    <div class="comment">
      <div class="pull-left">
        <blockquote>
          <div class="comment-heading">
            <span class="text-muted"><sup>{{datetime created_at}}</sup></span>
          </div>
          {{body}}
          <footer>
            {{name}}
          </footer>
        </blockquote>
      </div>
      <div class="remove-comment">
        <a {{action "deleteComment"}} class="gray-icon"><i class="glyphicon glyphicon-remove-circle"></i></a>
      </div>
    </div>
  {{else}}
    <p>There are no comments.</p>
  {{/each}}
</div>
